
<div style="padding: 0; margin: 0;" class="col-xs-12">
    <div style="padding:0; margin:0" class="widget-box middleForm">
        <div class="formHeader headerFormMenu">
            <div class="col-xs-10 empty_style">
                <h4 data-binding="title" class="widget-title auto_bind" style="margin: 5px;">Recover Password</h4>
            </div>
            <div class="col-xs-2 empty_style">
                <span class="pull-right button_container"><a class="button btn_cancel"><span class="glyphicon glyphicon-remove"></span></a></span>
            </div>
        </div>
        <div class="widget-body" style="position:relative">
            <div class="widget-main no-padding">
                <form action="/Health/Worker/Deactivate" class="form-horizontal smart-form middleForm" method="post" role="form">
                    <div class="">
                        <div class="col-md-12 col">
                            <section class="col-md-12 col">
                                <div><label for="Name">Username</label></div>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="ace-icon fa fa-key"></i>
                                    </span>
                                    <input type="text" class="form-control" data-binding="UserName" required>
                                </div>
                            </section>
                            <section class="col-md-12 col">
                                <div><label for="Name">Email</label></div>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="ace-icon fa fa-key"></i>
                                    </span>
                                    <input type="email" class="form-control" data-binding="Email" required>
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="form-actions center" style="padding: 15px; text-align: center;">
                        <span>
                            <button type="submit" class="btn btn_save btn-white btn-default btn-round">
                                <span class="glyphicon glyphicon-save"></span>
                                Send Password
                            </button>
                            <button type="button" class="btn btn_cancel btn-white btn-default btn-round">
                                <span class="glyphicon glyphicon-remove"></span>
                                Cancel
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

