<div class="formContainer">
    <div class="col-sm-12 col-md-12 col-lg-12 formBody">
        <div class="row formHeader headerFormMenu">
            <div style="float: left" class="widget-title"><h4 style="margin:5px;">Set Access</h4></div>
            <span class="pull-right button_container"><a class="button btn_cancel"><span class="glyphicon glyphicon-remove"></span></a></span>
        </div>
        <div class="middleForm" action="#">
            <div class="row">
                <div class="col-md-12">
                    <section class="col-sm-12 col col-md-6">
                        <div><label class="auto_bind" data-binding="LabelText" for="ActionMethode">Action Controller</label></div>
                        <div class="input-group">
                            <input type="text" data-binding="ActionMethode" name="ActionMethode" class="form-control k-textbox">
                        </div>
                    </section>
                    <section class="col-sm-12 col col-md-6">
                        <label for="cells">User</label>
                        <div class="input-group">
                            <select required data-binding="RoleId" name="RoleId" class="form-control"></select>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="text-center formFooter FooterFormMenu">
                    <button class="btn btn_save btn-white btn-default btn-round" type="button">
                        <span class="glyphicon glyphicon-save"></span>
                        Save
                    </button>
                    <button class="btn btn_cancel btn-white btn-default btn-round" type="button">
                        <span class="glyphicon glyphicon-remove"></span>
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>



