

@{
    ViewBag.Title = "Investigation Status | IqraHMS";
}

    <h2 class="empty_style">Investigation Status </h2>
<br />
@section MenuItems {
    @Html.Partial("~/Views/Menu/Admin.cshtml")
}
<div>
    <div class="">
        <div id="grid"></div>
    </div>
</div>
<script src="~/Content/IqraHMS/InvestigationArea/Js/PathologistInvestigationStatus/AppScripts.js"></script>