@{
    ViewBag.Title = "Securities | " + LazzPharma.Web.Service.AppService.Name;
}
<h2 class="empty_style" style="color: #f3615c; margin: 20px;">Securities</h2>
@section MenuItems {
    @Html.Partial("~/Views/Menu/Admin.cshtml")
}
    <div class="empty_style button_container row">
        <a href="#" class="btn btn-white btn-default btn-round pull-right" id="btn_add_new"><span class="glyphicon glyphicon-plus"></span>New</a>
    </div>

<div class="">
    <div id="grid"></div>
</div>
<script src="~/Content/IqraPharmacy/EmployeeArea/Content/Security/Security.js"></script>