<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <table class="">
        <thead>
            <tr>
                <td>
                    <div class="page-header-space"></div>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="page">
                        <div class="power">
                            <div>B566522</div>
                            <div>Powered by: iqrasys.com</div>
                            <div class="power__bar-code">
                                HN:
                                <div><img src="./assests/bar-code.png" alt="" /></div>
                            </div>
                        </div><div class="result">
                            <div class="result__header result--grid">
                                <div>Test</div>
                                <div>Result</div>
                                <div>Unit</div>
                                <div>Reference Value</div>
                            </div><div class="result__section">Red Blood Cells</div><div class="result__row result--grid">
                                <div>Total RBC</div>
                                <div>X 10612/L</div>
                                <div>5</div>
                                <div>F3.8 - 4.8, M 4.5 - 5.5</div>
                            </div><div class="result__row result--grid">
                                <div>MCH</div>
                                <div>pg</div>
                                <div>28</div>
                                <div>27 - 32</div>
                            </div><div class="result__row result--grid">
                                <div>ESR(Capillary Method - Alifax</div>
                                <div>mm in 1st hour</div>
                                <div>28</div>
                                <div>F < 38, M < 29</div>
                            </div><div class="result__row result--grid">
                                <div>Haemoglobin</div>
                                <div>g/dl</div>
                                <div>12</div>
                                <div>F 11.5-15.0, M 13.0 - 17.0</div>
                            </div><div class="result__row result--grid">
                                <div>MCV</div>
                                <div>fL</div>
                                <div>90</div>
                                <div>81 - 101</div>
                            </div><div class="result__row result--grid">
                                <div>PCV/HCT</div>
                                <div>%</div>
                                <div>45</div>
                                <div>F 36 - 46, M 40 - 50</div>
                            </div><div class="result__row result--grid">
                                <div>RDW-CV</div>
                                <div>%</div>
                                <div>13</div>
                                <div>11.5 - 14.00</div>
                            </div><div class="result__row result--grid">
                                <div>MCHC</div>
                                <div>g/dl</div>
                                <div>33</div>
                                <div>30 - 35</div>
                            </div><div class="result__section">White Blood Cells</div><div class="result__row result--grid">
                                <div>Total WBC</div>
                                <div>X 10^9/L</div>
                                <div>10</div>
                                <div>04.00 - 14.0</div>
                            </div><div class="result__section--su">Absolute Count</div><div class="result__row result--grid">
                                <div>Monocytes</div>
                                <div>X 10^9/L</div>
                                <div>0.07</div>
                                <div>0.2 - 1.0</div>
                            </div><div class="result__row result--grid">
                                <div>Neutrophils</div>
                                <div>X 10^9/L</div>
                                <div>5</div>
                                <div>2.0 - 7.0</div>
                            </div><div class="result__row result--grid">
                                <div>Basophils</div>
                                <div>X 10^9/L</div>
                                <div>0.05</div>
                                <div>0.02 - 0.1</div>
                            </div><div class="result__row result--grid">
                                <div>Eosinophils</div>
                                <div>X 10^9/L</div>
                                <div>0.2</div>
                                <div>0.02 - 0.5</div>
                            </div><div class="result__row result--grid">
                                <div>Lymphocytes</div>
                                <div>X 10^9/L</div>
                                <div>2</div>
                                <div>1.0 - 3.0</div>
                            </div><div class="result__section--su">Differential Count</div><div class="result__row result--grid">
                                <div>Eosinophils</div>
                                <div>%</div>
                                <div>4</div>
                                <div>1 - 6</div>
                            </div><div class="result__row result--grid">
                                <div>Basophils</div>
                                <div>%</div>
                                <div>0.5</div>
                                <div>< 1</div>
                            </div><div class="result__row result--grid">
                                <div>Lymphocytes</div>
                                <div>%</div>
                                <div>30</div>
                                <div>20 - 40</div>
                            </div><div class="result__row result--grid">
                                <div>Neutrophils</div>
                                <div>%</div>
                                <div>60</div>
                                <div>40 - 75</div>
                            </div><div class="result__row result--grid">
                                <div>Monocytes</div>
                                <div>%</div>
                                <div>5</div>
                                <div>2 - 10</div>
                            </div><div class="result__section">Platilate</div><div class="result__row result--grid">
                                <div>Platelet Count</div>
                                <div>X 10^9/L</div>
                                <div>300</div>
                                <div>150 - 450</div>
                            </div><div class="result__row result--grid">
                                <div>MPV</div>
                                <div>fL</div>
                                <div>8</div>
                                <div>7.5 - 12</div>
                            </div><div class="result__row result--grid">
                                <div>PCT</div>
                                <div>%</div>
                                <div>0.2</div>
                                <div>0.11 - 0.29</div>
                            </div>
                        </div><div class="signatories">
                            <div>
                                <p><b>Mst. Shamsunnahar</b></p>
                                <p>Medical Technologist</p>
                                <p>Automation Lab</p>
                            </div>
                            <div>
                                <p><b>DR. Taskia Sultana Zaman</b></p>
                                <p>MBBS(DMC), PhD(Japan)</p>
                                <p>Jr.Consultant(Immunology)</p>
                                <p>Iqra Hospital Ltd</p>
                            </div>
                        </div>
                        <div class="end-report">
                            <div class="end-report__label">
                                -------------------------------------------------- End of
                                Report --------------------------------------------------
                            </div>
                            <div class="end-report__instructions">
                                <h4>IMPORTANT INSTRUCTIONS</h4>
                                <p>
                                    *The test results should only be interpreted by qualified
                                    and registered medical practitioners.*The laboratory test
                                    results should be clinically correlated by the referring
                                    physician *The reported results depend on the quality of the
                                    samples and sensitivity/specificity of the test methods.*1n
                                    case of grossly abnormal test results, the lab may perform
                                    repeat test from the same/fresh sample at its own or on the
                                    basis of clinicians/Clients request within 2 days post
                                    reporting.*Inter-laboratory variations may be found in test
                                    results, and Iqra Hospital Limited (Diagnostics) shall not
                                    incur any liability due to such variance.*This test report
                                    is not valid for medico-legal purpose.*Iqra Hospital Limited
                                    (Diagnostics)and its staff will not take any responsibility
                                    or liability for any loss or injury resulting from
                                    incomplete or erroneous interpretation of the test results
                                    contained herein *Due to unexpected circumstances. the
                                    report delivery may rarely be delayed.*Partial reproduction
                                    of this test report is not allowed.
                                </p>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>
                    <!--place holder for the fixed-position footer-->
                    <div class="page-footer-space"></div>
                </td>
            </tr>
        </tfoot>
    </table>
</body>
</html>