<div class="formContainer">
    <div class="formBody">
        <div class="row formHeader headerFormMenu">
            <div style="float: left" class="widget-title">
                <h4 style="margin:5px;" class="auto_bind" data-binding="Title">Barcode</h4>
            </div>
            <span class="pull-right button_container">
                <a class="button btn_cancel"><span class="glyphicon glyphicon-remove"></span></a>
            </span>
        </div>
        <div class="middleForm" action="/">
            <div class="row">
                <section class="col-md-6">
                    <div>
                        <label for="Barcode">Barcode</label>
                    </div>
                    <div class="input-group">
                        <input data-type="string" required="" data-binding="Barcode" name="Barcode" class="form-control" type="text">
                    </div>
                </section>
                <section class="col-md-6">
                    <div>
                        <label for="Name">Item</label>
                    </div>
                    <div class="input-group">
                        <input data-type="string" disabled="" data-binding="Name" name="Name" class="form-control" type="text">
                    </div>
                </section>
            </div>
            <div class="row">
                <div class="text-center formFooter FooterFormMenu">
                    <button class="btn btn_save btn-white btn-default btn-round" type="button"><span class="glyphicon glyphicon-save"></span> Save </button>
                    <button class="btn btn_cancel btn-white btn-default btn-round" type="button"> <span class="glyphicon glyphicon-remove"></span> Cancel </button>
                </div>
            </div>
        </div>
    </div>
</div>