
<div class="formContainer">
    <div class="formBody">
        <div class="row formHeader headerFormMenu">
            <div style="float:left" class="widget-title"><h4 style="margin:5px;" class="auto_bind" data-binding="Title">Add Daily Cash In Out</h4></div>
            <span class="pull-right button_container"><a class="button btn_cancel"><span class="glyphicon glyphicon-remove"></span></a></span>
        </div>
        <div class="middleForm">
            <div id="grid_container">
                <div class="daily_in_out_details_grid" id="daily_sale">
                    <div class="row filter_container" style="padding-bottom: 10px;">

                    </div>
                    <div class="row filter_container btn_print_container" style="margin: 0;">
                        
                    </div>
                    <div id="daily_sale_grid">

                    </div>
                </div>
                <div class="daily_in_out_details_grid" id="manual_journal">
                    <div class="row filter_container" style="margin: 0;">
                        
                    </div>
                    <div id="manual_journal_grid">

                    </div>
                </div>
                <div class="daily_in_out_details_grid" id="expense">
                    <div class="row filter_container" style="margin: 0;">
                        <div class="col-md-2 col-sm-4 col-xs-6">
                            <div><label>Amount</label></div>
                            <div><span data-binding="ExpenseAmount" class="form-control auto_bind" /></div>
                        </div>
                    </div>
                    <div id="daily_expense_grid">

                    </div>
                </div>
                <div class="daily_in_out_details_grid" id="suplier_payment">
                    <div class="row filter_container" style="padding-bottom: 10px;">
                        <div class="col-md-2 col-sm-4 col-xs-6">
                            <div><label>PaidAmount</label></div>
                            <div><span data-binding="SuplierPaidAmount" class="form-control auto_bind" /></div>
                        </div>
                    </div>
                    <div id="suplier_payment_grid">
                        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="text-center formFooter FooterFormMenu">
                    <button class="btn btn_cancel btn-white btn-default btn-round" type="button">
                        <span class="glyphicon glyphicon-remove"></span>
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>



