<div class="">
    <div class="formHeader empty_style row headerFormMenu">
        <div class="col-xs-10 empty_style"><h4 class="widget-title" style="margin: 5px;">Report Details </h4></div>
        <div class="col-xs-2 empty_style" style="padding: 0px; margin: 0px;">
            <span class="pull-right button_container">
                <a class="button btn_cancel"><span style="left:-2px;" class="glyphicon glyphicon-remove"></span></a>
            </span>
        </div>
    </div>
    <div class="middleForm empty_style">
        <div class="form-horizontal smart-form middleForm">
            <div id="comparision_report_details">
                <div class="row button_container" style="margin:10px 0">
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div><label>Order Price</label></div>
                        <div><span data-binding="OrderPrice" class="form-control auto_bind" /></div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div><label>Purchase Price</label></div>
                        <div><span data-binding="PurchasePrice" class="form-control auto_bind" /></div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div><label>Sale Price</label></div>
                        <div><span data-binding="SalePrice" class="form-control auto_bind" /></div>
                    </div>
                </div>
                <div id="report_detail_grid" class="margin-top-10"></div>
            </div>
            <div class="row">
                <div class="text-center formFooter FooterFormMenu">
                    <button class="btn btn_cancel btn-white btn-default btn-round" type="button">
                        <span class="glyphicon glyphicon-remove"></span> Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
