<div class="formContainer">
    <div class="formBody">
        <div class="row formHeader headerFormMenu">
            <div style="float: left" class="widget-title"><h4 style="margin:5px;">Change Password</h4></div>
            <span class="pull-right button_container"><a class="button btn_cancel"><span class="glyphicon glyphicon-remove"></span></a></span>
        </div>
        <div class="middleForm" action="#">
            <div class="row">
                <section class="col-sm-12 col col-md-12">
                    <label for="DesignationId">Old Password</label>
                    <div class="input-group">
                        <input required type="password" data-binding="OldPassword" name="OldPassword" class="form-control">
                    </div>
                </section>
                
            </div>
            <div class="row">
                <section class="col-sm-12 col col-md-6">
                    <label for="DesignationId">New Password</label>
                    <div class="input-group">
                        <input required type="password" data-binding="NewPassword" name="NewPassword" class="form-control">
                    </div>
                </section>
                <section class="col-sm-12 col col-md-6">
                    <label for="Salary">ConfirmPassword</label>
                    <div class="input-group">
                        <input type="password" required data-binding="ConfirmPassword" name="ConfirmPassword" class="form-control">
                    </div>
                </section>
            </div>
            
            <div class="row">
                <div class="text-center formFooter FooterFormMenu">
                    <button class="btn btn_save btn-white btn-default btn-round" type="button">
                        <span class="glyphicon glyphicon-save"></span>
                        Save
                    </button>
                    <button class="btn btn_cancel btn-white btn-default btn-round" type="button">
                        <span class="glyphicon glyphicon-remove"></span>
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>



