

@{
    ViewBag.Title = "Candidate Report Category | IqraHMS";
}
@section MenuItems {
    @Html.Partial("~/Views/Menu/Admin.cshtml")
}
<h2 class="empty_style">Candidate Report Category</h2>

<div class="row filter_container">

</div>
<div class="row summary_container">

</div>
<div class="empty_style button_container row">
    <a class="btn btn-white btn-default btn-round pull-right" id="btn_add_new"><span class="glyphicon glyphicon-plus"></span>New</a>
</div>
<div style="margin-top:10px;">
    <div id="grid_container">
    </div>
</div>
<script src="~/Content/IqraHMS/CandidateReportArea/Js/CandidateReportCategory/CandidateReportCategory.js"></script>
<script type="text/javascript">
    (function () {
        var model = {};
        Controller.Show(model);
        model.BaseModel.Reload();
    })()
</script>
