
@{
    ViewBag.Title = "AdvanceSalary | IqraMS";
}

<h2 class="empty_style">AdvanceSalary</h2>
@*@section MenuItems {
        @Html.Partial("~/Views/Menu/Admin.cshtml")
    }*@
<div>
    <div class="empty_style button_container row">
        <a href="#" class="btn btn-white btn-success btn-round pull-right" id="btn_add_new" style="margin-left: 1%"><span class="glyphicon glyphicon-plus"></span>New</a>
    </div>
    <div class="">
        <div id="grid"></div>
    </div>
</div>
<script src="~/Content/IqraPharmacy/PayrollArea/Content/AdvanceSalary/AppScripts.js"></script>
