

@{
    ViewBag.Title = "Inventory Item Stock | IqraHMS";
}

<h2 class="empty_style">Inventory Item Stocks</h2>
@section MenuItems {
    @Html.Partial("~/Views/Menu/Admin.cshtml")
}
<div>
    <div class="">
        <div id="grid"></div>
    </div>
</div>
<script src="~/Content/IqraHMS/InventoryArea/Js/InventoryItemStock/AppScripts.js"></script>