<div class="">
    <div class="formHeader empty_style row headerFormMenu">
        <div class="col-xs-10 empty_style"><h4 class="widget-title" style="margin: 5px;"> Suplier Return Preview </h4></div>
        <div class="col-xs-2 empty_style" style="padding: 0px; margin: 0px;">
            <span class="pull-right button_container">
                <a class="button btn_cancel"><span style="left:-2px;" class="glyphicon glyphicon-remove"></span></a>
            </span>
        </div>
    </div>
    <div class="middleForm empty_style">
        <div class="form-horizontal smart-form middleForm">
            <div class="">
                <div class="preview_grid">

                </div>
                <div id="selected_item_summary_container" class="row" style="margin:10px 0;">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="row">
                                <section class="col-xs-6 col-sm-6 col col-md-4">
                                    <div>
                                        <label for="TotalItems">Total Items</label>
                                    </div>
                                    <div class="input-group">
                                        <span data-binding="TotalItems" class="form-control auto_bind" type="text"></span>
                                    </div>
                                </section>
                                <section class="col-xs-6 col-sm-6 col col-md-4">
                                    <div>
                                        <label for="TotalPrice">Total Price</label>
                                    </div>
                                    <div class="input-group">
                                        <span data-binding="TotalPrice" class="form-control auto_bind" type="text"></span>
                                    </div>
                                </section>
                                <section class="col-xs-6 col-sm-4 col col-md-4">
                                    <div>
                                        <label for="Discount">Total Discount</label>
                                    </div>
                                    <div class="input-group">
                                        <span data-binding="Discount" class="form-control auto_bind" type="text"></span>
                                    </div>
                                </section>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="row">
                                <section class="col-xs-6 col-sm-4 col col-md-3">
                                    <div>
                                        <label for="Reduce">Reduce</label>
                                    </div>
                                    <div class="input-group">
                                        <span data-binding="Reduce" class="form-control auto_bind" type="text"></span>
                                    </div>
                                </section>
                                <section class="col-xs-6 col-sm-4 col col-md-3">
                                    <div>
                                        <label for="PayableAmount">Payable Amount</label>
                                    </div>
                                    <div class="input-group">
                                        <span data-binding="PayableAmount" class="form-control auto_bind" type="text"></span>
                                    </div>
                                </section>
                                <section class="col-xs-6 col-sm-4 col col-md-3">
                                    <div>
                                        <label for="PaidAmount">Paid Amount</label>
                                    </div>
                                    <div class="input-group">
                                        <span data-binding="PaidAmount" class="form-control auto_bind" type="text"></span>
                                    </div>
                                </section>
                                <section class="col-xs-6 col-sm-4 col col-md-3">
                                    <div>
                                        <label for="DueAmount">Due Amount</label>
                                    </div>
                                    <div class="input-group">
                                        <span data-binding="DueAmount" class="form-control auto_bind"></span>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="text-center formFooter FooterFormMenu">
                    <button class="btn btn_save btn-white btn-default btn-round" type="button">
                        <span class="glyphicon glyphicon-save"></span> Save
                    </button>
                    <button class="btn btn_cancel btn-white btn-default btn-round" type="button">
                        <span class="glyphicon glyphicon-remove"></span> Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
