
@{
    ViewBag.Title = "ItemSales | " + LazzPharma.Web.Service.AppService.Name;
}

<h2 class="empty_style">ItemSales</h2>
@section MenuItems {
    @Html.Partial("~/Views/Menu/Admin.cshtml")
}
<div>
    <div class="empty_style button_container row">
        
    </div>
    <div class="">
        <div id="grid"></div>
    </div>
</div>
<script src="~/Content/IqraPharmacy/InventoryArea/Content/ItemSales.js"></script>
