
@{
    ViewBag.Title = "Order Comparison";
}
@section MenuItems {
    @Html.Partial("~/Views/Menu/Admin.cshtml")
}

<script type="text/javascript">
    $('.employee_group').addClass('active menu-open').find('.report').addClass('active');
</script>
<h2 class="empty_style">Order Comparison</h2>
<div>
    <div id="filter_container" class="row">
        <div class="col-md-2 col-sm-4 col-xs-6">
            <div><label>From</label></div>
            <div><input type="text" data-binding="From" class="form-control" /></div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <div><label>To</label></div>
            <div><input type="text" data-binding="To" class="form-control" /></div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <div><label>Period</label></div>
            <div><input type="text" data-binding="Period" class="form-control" /></div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <div><label>Order Price</label></div>
            <div><span data-binding="OrderPrice" class="form-control auto_bind" /></div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <div><label>Purchase Price</label></div>
            <div><span data-binding="PurchasePrice" class="form-control auto_bind" /></div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <div><label>Sale Price</label></div>
            <div><span data-binding="SalePrice" class="form-control auto_bind" /></div>
        </div>
    </div>
    <div class="empty_style button_container row" style="margin-top:15px;">
        <a href="#" class="btn btn-white btn-default btn-round pull-left btn-active" id="btn_counter_wise"><span class="glyphicon glyphicon-align-justify"></span> CounterWise</a>
        <a href="#" class="btn btn-white btn-default btn-round pull-left" id="btn_suplier_wise" style="margin-left: 1%;"><span class="glyphicon glyphicon-align-justify"></span> SuplierWise</a>
        <a href="#" class="btn btn-white btn-default btn-round pull-left" id="btn_month_wise" style="margin-left: 1%;"><span class="glyphicon glyphicon-align-justify"></span> Monthly</a>
        <a href="#" class="btn btn-white btn-default btn-round pull-left" id="btn_day_wise" style="margin-left: 1%;"><span class="glyphicon glyphicon-asterisk"></span> Daily</a>
    </div>
    <div class="">
        <div id="suplier_grid" class="tab_taggle"></div>
        <div id="counter_grid" class="tab_taggle"></div>
        <div id="daily_grid" class="tab_taggle"></div>
        <div id="monthly_grid" class="tab_taggle"></div> 
    </div>
</div>
<script src="~/Content/IqraPharmacy/ComparisonArea/Content/OrderComparison.js"></script>
