<div class="formBody">
    <div class="row formHeader headerFormMenu">
        <div style="float: left" class="widget-title">
            <h4 style="margin:5px;" class="auto_bind" data-binding="Title">New  Id Printed</h4>
        </div>
        <span class="pull-right button_container"><a class="button btn_cancel"><span class="glyphicon glyphicon-remove"></span></a></span>
    </div>
    <div class="middleForm">
        <div class="row">
            <section class="col-sm-4 col col-md-4">
                <div><label for="Reason">Reason</label></div>
                <div class="input-group">
                    <input  type="text" required="" data-binding="Reason" class="form-control" />
                </div>
            </section>
            <section class="col-sm-4 col col-md-4">
                <div><label for="Amount">Amount</label></div>
                <div class="input-group">
                    <input data-type="float" type="text" required="" data-binding="Amount" class="form-control" /> 
                </div>
            </section>
            <section class="col-sm-4 col col-md-4">
                <div><label for="AccountId">Account</label></div>
                <div class="input-group">
                    <input data-type="string" type="text" required="" data-binding="AccountId" class="form-control" />
                </div>
            </section>
        </div>
        <div class="row">
            <section class="col-sm-12 col col-md-12">
                <div><label for="Remarks">Remarks</label></div>
                <div class="input-group">
                    <textarea data-binding="Remarks" style="width:100%; max-width:100%;min-width:100%; height:100px;" class="form-control"></textarea> 
                </div>
            </section>
        </div>
        <div class="row">
            <div class="text-center formFooter FooterFormMenu"> 
            <button class="btn btn_print btn-white btn-default btn-round" type="button">
                <span class="glyphicon glyphicon-save"></span> Print & Save 
            </button> 
            <button class="btn btn_cancel btn-white btn-default btn-round" type="button"> 
                <span class="glyphicon glyphicon-remove"></span> Cancel 
            </button> 
            </div>
        </div>
    </div>
</div>