<div class="formBody">
    <div class="row formHeader headerFormMenu">
        <div style="float: left" class="widget-title">
            <h4 style="margin:5px;">Admission</h4>
        </div><span class="pull-right button_container">
            <a class="button btn_cancel"><span class="glyphicon glyphicon-remove"></span></a>
        </span>
    </div>
    <div class="middleForm" action="/">
        <div class="">
            <div class="row">
                <section class="col-sm-3 col col-md-3">
                    <div>
                        <label for="Name">Name</label>
                    </div>
                    <div class="input-group">
                        <input data-type="string" type="text" required="" data-binding="Name" name="Name" class="form-control" disabled>
                    </div>
                </section>
                <section class="col-sm-3 col col-md-3">
                    <div>
                        <label for="Mobile">Mobile</label>
                    </div>
                    <div class="input-group">
                        <input data-type="string" type="text" required="" data-binding="Mobile" name="Mobile" class="form-control" disabled>
                    </div>
                </section>
                <section class="col-sm-3 col col-md-3">
                    <div>
                        <label for="Email">Email</label>
                    </div>
                    <div class="input-group">
                        <input data-type="string" type="email" data-binding="Email" name="email" class="form-control" disabled>
                    </div>
                </section>
                <section class="col-sm-3 col col-md-3">
                    <div>
                        <label for="DateOfBirth">Date of Birth</label>
                    </div>
                    <div class="input-group">
                        <input data-type="string" data-dateformat="dd/MM/yyyy hh:mm" data-binding="DOB" name="DOB" class="form-control" disabled>
                    </div>
                </section>
            </div>
            <div class="row">
                <section class="col-sm-3 col col-md-3">
                    <div>
                        <label for="DiseaseTypeId">Disease Type</label>
                    </div>
                    <div class="input-group">
                        <input data-type="string" type="text" data-binding="DiseaseTypeId" class="form-control">
                    </div>
                </section>
                <section class="col-sm-3 col col-md-3">
                    <div>
                        <label for="AdmissionStatusId">Patient Status</label>
                    </div>
                    <div class="input-group">
                        <input data-type="string" type="text" data-binding="AdmissionStatusId" class="form-control">
                    </div>
                </section>
                <section class="col-sm-3 col col-md-3">
                    <div>
                        <label for="RoomId">Room</label>
                    </div>
                    <div class="input-group">
                        <input data-type="string" type="text" required="" data-binding="RoomId" name="RoomId" class="form-control">
                    </div>
                </section>
                <section class="col-sm-3 col col-md-3">
                    <div>
                        <label for="DoctorId">Bed</label>
                    </div>
                    <div class="input-group">
                        <input data-type="string" type="text" required="" data-binding="BedId" name="BedId" class="form-control">
                    </div>
                </section>
            </div>
            <div class="row">
                <section class="col-sm-3 col col-md-3">
                    <div>
                        <label for="EmergencyContactNameOne">Contact Name-1</label>
                    </div>
                    <div class="input-group">
                        <input data-type="string" required="" type="text" data-binding="EmergencyContactNameOne" class="form-control">
                    </div>
                </section>
                <section class="col-sm-3 col col-md-3">
                    <div>
                        <label for="EmergencyContactNumberOne">Contact Number-1</label>
                    </div>
                    <div class="input-group">
                        <input data-type="string" required="" type="text" data-binding="EmergencyContactNumberOne" class="form-control">
                    </div>
                </section>
                <section class="col-sm-3 col col-md-3">
                    <div>
                        <label for="EmergencyContactNameTwo">Contact Name-2</label>
                    </div>
                    <div class="input-group">
                        <input data-type="string" type="text" data-binding="EmergencyContactNameTwo" class="form-control">
                    </div>
                </section>
                <section class="col-sm-3 col col-md-3">
                    <div>
                        <label for="EmergencyContactNumberTwo">Contact Number-2</label>
                    </div>
                    <div class="input-group">
                        <input data-type="string" type="text" data-binding="EmergencyContactNumberTwo" class="form-control">
                    </div>
                </section>
            </div>
            <div class="row">
                <section class="col-sm-3 col col-md-3">
                    <div>
                        <label for="DepartmentId">Department</label>
                    </div>
                    <div class="input-group">
                        <input data-type="string" type="text" data-binding="DepartmentId" class="form-control">
                    </div>
                </section>
                <section class="col-sm-3 col col-md-3">
                    <div>
                        <label>Designation</label>
                    </div>
                    <div class="input-group">
                        <input data-type="string" type="text" data-binding="DesignationId" class="form-control">
                    </div>
                </section>
                <section class="col-sm-3 col col-md-3">
                    <div>
                        <label for="DoctorId">Doctor</label>
                    </div>
                    <div class="input-group">
                        <input data-type="string" type="text" required="" data-binding="DoctorId" name="DoctorId" class="form-control">
                    </div>
                </section>
                <section class="col-sm-3 col col-md-3">
                    <div>
                        <label for="DoctorId">Referred By</label>
                    </div>
                    <div class="input-group">
                        <input data-type="string" type="text" data-binding="ReferredBy" class="form-control">
                    </div>
                </section>
            </div>

            <div class="row">
                <section class="col-sm-4 col col-md-4">
                    <div>
                        <label>Advance</label>
                    </div>
                    <div class="input-group">
                        <input data-type="float|null" type="text" data-binding="Advance" class="form-control">
                    </div>
                </section>
                <section class="col-sm-4 col col-md-4">
                    <div>
                        <label>Account</label>
                    </div>
                    <div class="input-group">
                        <input type="text" data-binding="AccountId" class="form-control">
                    </div>
                </section>
            </div>
            <div class="row">
                <section class="col-sm-12 col col-md-6">
                    <div>
                        <label for="PresentAddress">PresentAddress</label>
                    </div>
                    <div class="input-group">
                        <textarea data-binding="PresentAddress" style="width:100%; max-width:100%;min-width:100%; height:100px;" class="form-control" data-type="string"></textarea>
                    </div>
                </section>
                <section class="col-sm-12 col col-md-6">
                    <div>
                        <label for="Remarks">Remarks</label>
                    </div>
                    <div class="input-group">
                        <textarea data-binding="Remarks" name="Remarks" style="width:100%; max-width:100%;min-width:100%; height:100px;" class="form-control" data-type="string"></textarea>
                    </div>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="text-center formFooter FooterFormMenu">
                <button class="btn btn_save btn-white btn-default btn-round" type="button"><span class="glyphicon glyphicon-save"></span> Save </button>
                <button class="btn btn_cancel btn-white btn-default btn-round" type="button"> <span class="glyphicon glyphicon-remove"></span> Cancel </button>
            </div>
        </div>
    </div>
</div>

