 <div class="formBody">
    <div class="row formHeader headerFormMenu">
        <div style="float: left" class="widget-title">
            <h4 style="margin:5px;" >Release Patient</h4>
        </div><span class="pull-right button_container">
            <a class="button btn_cancel"><span class="glyphicon glyphicon-remove"></span></a>
        </span>
    </div>
    <div class="middleForm" action="/">
        <div class="">
            <div class="row">
                <section class="col-sm-3 col col-md-3">
                    <div>
                        <label for="Name">Name</label>
                    </div>
                    <div class="input-group">
                        <input data-type="string" type="text" required="" data-binding="Name" name="Name" class="form-control"  disabled>
                    </div>
                </section>
 
                <section class="col-sm-3 col col-md-3">
                    <div>
                        <label for="Mobile">Mobile</label>
                    </div>
                    <div class="input-group">
                        <input data-type="string" type="text" required="" data-binding="Mobile" name="Mobile" class="form-control" disabled>
                    </div>
                </section>

                <section class="col-sm-3 col col-md-3">
                    <div>
                        <label for="Email">Email</label>
                    </div>
                    <div class="input-group">
                        <input data-type="string" type="email" data-binding="Email" name="email" class="form-control" disabled>
                    </div>
                </section>

                <section class="col-sm-3 col col-md-3">
                    <div>
                        <label for="DateOfBirth">Age</label>
                    </div>
                    <div class="input-group">
                        <input data-type="datetime" data-dateformat="dd/MM/yyyy hh:mm" data-binding="DOB" name="DOB" class="form-control" disabled>
                    </div>
                </section>
            </div>

            <div class="row">
                <section class="col-sm-4 col col-md-4">
                    <div>
                        <label>Patient Condition</label>
                    </div>
                    <div class="input-group">
                        <input data-type="string" type="text" required="" data-binding="PatientCondition"  class="form-control">
                    </div>
                </section>
            </div>
            <div class="row">
                <section class="col-sm-12 col col-md-12">
                    <div>
                        <label for="Remarks">Remarks</label>
                    </div>
                    <div class="input-group">
                        <textarea data-binding="Remarks" name="Remarks" style="width:100%; max-width:100%;min-width:100%; height:100px;" class="form-control" data-type="string"></textarea>
                    </div>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="text-center formFooter FooterFormMenu">
                <button class="btn btn_save btn-white btn-default btn-round" type="button"><span class="glyphicon glyphicon-save"></span> Save </button>
                <button class="btn btn_cancel btn-white btn-default btn-round" type="button"> <span class="glyphicon glyphicon-remove"></span> Cancel </button>
            </div>
        </div>
    </div>
</div>

