@{
    ViewBag.Title = "Inventory Stock Change History | IqraHMS";
}

<h2 class="empty_style">Inventory Stock Change History</h2>
@section MenuItems {
    @Html.Partial("~/Views/Menu/Admin.cshtml")
}
<div>
    <div class="">
        <div id="grid"></div>
    </div>
</div>
<script src="~/Content/IqraHMS/InventoryArea/Js/InventoryStockChangeHistory/AppScripts.js"></script>