

<div class="formBody">
    <div class="row formHeader headerFormMenu">
        <div style="float: left" class="widget-title">
            <h4 style="margin:5px;" class="auto_bind" data-binding="Title">File Selector</h4>
        </div><span class="pull-right button_container">
            <a class="button btn_cancel"><span class="glyphicon glyphicon-remove"></span></a>
        </span>
    </div>
    <div class="middleForm" action="/">
        <div class="row">
            <section class="col-sm-6 col col-md-6">
                <div class="input-group">
                    <div class="btn_container pull-right" style="position: relative; width: 112px; overflow: hidden; margin-right: 5px;">
                        <button class="btn btn_upload btn-white btn-default btn-round" type="button">
                            <span class="glyphicon glyphicon-plus auto_bind" data-binding="FileType">
                            </span> Select File From Computer
                        </button>
                        <input id="btn_file" style="position: absolute; left: 0px; top: 0px; opacity: 0; padding: 3px;" class="btn btn_upload btn-white btn-default btn-round" type="file">
                    </div>
                </div>
            </section>
            <section class="col-sm-6 col col-md-6">
                <div class="input-group">
                    <div class="btn_container pull-right" style="position: relative; width: 112px; overflow: hidden; margin-right: 5px;">
                        <button class="btn btn_upload btn-white btn-default btn-round" type="button">
                            <span class="glyphicon glyphicon-plus">
                            </span> Capture Image
                        </button>
                        <input id="btn_file" style="position: absolute; left: 0px; top: 0px; opacity: 0; padding: 3px;" class="btn btn_upload btn-white btn-default btn-round" type="file">
                    </div>
                </div>
            </section>
        </div>
        <div class="row">
            <div class="text-center formFooter FooterFormMenu">
                <button class="btn btn_save btn-white btn-default btn-round" type="button"><span class="glyphicon glyphicon-save"></span> Select </button>
                <button class="btn btn_cancel btn-white btn-default btn-round" type="button"> <span class="glyphicon glyphicon-remove"></span> Cancel </button>
            </div>
        </div>
    </div>
</div>