
@{
    ViewBag.Title = "Suplier Payment | " + LazzPharma.Web.Service.AppService.Name;
}
@section MenuItems {
    @Html.Partial("~/Views/Menu/Admin.cshtml")
}
<h2 class="empty_style">Suplier Payment</h2>

Check /ExpenseArea/SuplierPayment/List

<script src="~/Content/IqraPharmacy/ExpenseArea/Content/SuplierPayment/SuplierPayment.js"></script>
