
@{
    ViewBag.Title = "Expense | "+ LazzPharma.Web.Service.AppService.Name;
}
@section MenuItems {
    @Html.Partial("~/Views/Menu/Admin.cshtml")
}
<h2 class="empty_style">Suplier Payment</h2>


<div id="filter_container" class="row">


</div>
<div style="margin-top:10px;">
    <div id="button_container" class="empty_style button_container row">
        
    </div>
    <div id="grid_container">

    </div>
</div>
<script src="~/Content/IqraPharmacy/ExpenseArea/Content/SuplierPayment/List/AppScript.js"></script>
