@{
    ViewBag.Title = "Suplier | " + LazzPharma.Web.Service.AppService.Name;
}
@section MenuItems {
    @Html.Partial("~/Views/Menu/Admin.cshtml")
}
<h2 class="empty_style">Suplier Due Adjust</h2>
<div>
    <div class="">
        <div id="grid"></div>
    </div>
</div>
<script src="~/Content/IqraPharmacy/SuplierArea/Content/Suplier/AdjustDue.js"></script>