
@{
    ViewBag.Title = "Suplier Due | "+ LazzPharma.Web.Service.AppService.Name;
}
@section MenuItems {
    @Html.Partial("~/Views/Menu/Admin.cshtml")
}
<h2 class="empty_style">Suplier Due</h2>

<div id="page_container">
    <div id="filter_container" class="row">

    </div>
    <div style="margin-top:10px;">
        <div id="button_container" class="empty_style button_container row">

        </div>
        <div id="grid_container"  style="margin-top:30px;">

        </div>
    </div>
</div>
<script src="~/Content/IqraPharmacy/SuplierArea/Content/Due/PurchaseDue.js"></script>
