
@{
    ViewBag.Title = "Daily Report | " + LazzPharma.Web.Service.AppService.Name;
}
@section MenuItems {
    @Html.Partial("~/Views/Menu/Admin.cshtml")
}
<h2 class="empty_style">Daily Report</h2>


<div id="filter_container" class="row">

</div>
<div id="report_summary_container" style="font-size: 1.5em; font-weight: bold; margin: 10px 0px;" class="row">
    @*<div class="col-md-6">
        <span class="auto_bind" data-binding="TotalPrice"></span>
    </div>
    <div class="col-md-6">
        <span class="auto_bind" data-binding="TotalDiscount"></span>
    </div>*@
</div>
<div>
    <div class="empty_style button_container row">
        <a href="#" class="btn btn-white btn-default btn-round pull-right" id="btn_add_new"><span class="glyphicon glyphicon-plus"></span>New</a>
    </div>
    <div>
        <div id="grid"></div>
    </div>
</div>
<script src="~/Content/IqraPharmacy/ExpenseArea/Content/Report/Report.js"></script>