
<div class="formBody">
    <div class="row formHeader headerFormMenu">
        <div style="float: left" class="widget-title">
            <h4 style="margin:5px;" class="auto_bind" data-binding="Title">Add New Return By Items</h4>
        </div>
        <span class="pull-right button_container">
            <a class="button btn_cancel"><span class="glyphicon glyphicon-remove"></span></a>
        </span>
    </div>
    <div class="middleForm">
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-5 col-xs-6">
                <input data-binding="SuplierId" class="form-control" type="text" />
            </div>
            <div class="col-md-8 col-lg-8 col-sm-7 col-xs-6">
                <button class="btn btn_select btn-white btn-default btn-round" type="button"> <span class="glyphicon glyphicon-search"></span> Select Items </button>
            </div>
        </div>
        <div class="row">
            <div id="grid" class="grid_small_text">
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="row">
                    <section class="col-xs-6 col-sm-6 col col-md-4">
                        <div>
                            <label for="ReturnItem">Return Items</label>
                        </div>
                        <div class="input-group">
                            <span data-binding="ReturnItem" class="form-control auto_bind" type="text"></span>
                        </div>
                    </section>
                    <section class="col-xs-6 col-sm-6 col col-md-4">
                        <div>
                            <label for="ReturnQuentity">Return Quentities</label>
                        </div>
                        <div class="input-group">
                            <span data-binding="ReturnQuentity" class="form-control auto_bind" type="text"></span>
                        </div>
                    </section>
                    <section class="col-xs-6 col-sm-4 col col-md-4">
                        <div>
                            <label for="TPPrice">TP</label>
                        </div>
                        <div class="input-group">
                            <span data-binding="TPPrice" class="form-control auto_bind" type="text"></span>
                        </div>
                    </section>
                </div>
            </div>
            <div class="col-md-7">
                <div class="row">
                    <section class="col-xs-6 col-sm-4 col col-md-3">
                        <div>
                            <label for="Discount">Discount</label>
                        </div>
                        <div class="input-group">
                            <span data-binding="Discount" class="form-control auto_bind" type="text"></span>
                        </div>
                    </section>
                    <section class="col-xs-6 col-sm-4 col col-md-3">
                        <div>
                            <label for="Vat">Vat</label>
                        </div>
                        <div class="input-group">
                            <span data-binding="Vat" class="form-control auto_bind" type="text"></span>
                        </div>
                    </section>
                    <section class="col-xs-6 col-sm-4 col col-md-3">
                        <div>
                            <label for="PayableTP">Payable TP</label>
                        </div>
                        <div class="input-group">
                            <span data-binding="PayableTP" class="form-control auto_bind" type="text"></span>
                        </div>
                    </section>
                    <section class="col-xs-6 col-sm-4 col col-md-3">
                        <div>
                            <label for="RetunAmount">Return Amount</label>
                        </div>
                        <div class="input-group">
                            <input data-type="float" data-binding="RetunAmount" class="form-control" type="text" />
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="text-center formFooter FooterFormMenu">
                <button class="btn btn_save btn-white btn-default btn-round" type="button"><span class="glyphicon glyphicon-save"></span> Preview </button>
                <button class="btn btn_cancel btn-white btn-default btn-round" type="button"> <span class="glyphicon glyphicon-remove"></span> Cancel </button>
            </div>
        </div>
    </div>
</div>
