
<div class="formBody formContainer">
    <div class="row formHeader headerFormMenu">
        <div style="float: left" class="widget-title">
            <h4 style="margin:5px;" class="auto_bind" data-binding="Title"></h4>
        </div>
        <span class="pull-right button_container"><a class="button btn_cancel"><span class="glyphicon glyphicon-remove"></span></a></span>
    </div>
    <div class="middleForm">
        <div class="row" id="image_preview" style="padding-top: 5px;">
            <img id="preview" src="/Content/Img/folderIcon.png" style="max-width: 100%; max-height:700px;" />
        </div>
        <div id="image_icon" class="row">
            
        </div>
        <div class="row">
            <div class="text-center formFooter FooterFormMenu">
                <button class="btn btn_download btn-white btn-default btn-round" type="button">
                    <span class="glyphicon glyphicon-remove"></span> Download
                </button>
                <button class="btn btn_cancel btn-white btn-default btn-round" type="button">
                    <span class="glyphicon glyphicon-remove"></span> Cancel
                </button>
            </div>
        </div>
    </div>
</div>
