

@{
    ViewBag.Title = "Trade Price Error | " + LazzPharma.Web.Service.AppService.Name;
}
<h2 class="empty_style">Trade Price Error</h2>
@section MenuItems {
    @Html.Partial("~/Views/Menu/Admin.cshtml")
}
<div>
    <div class="">
        <div id="grid"></div>
    </div>
</div>
<script src="~/Content/IqraPharmacy/ErrorArea/Content/AppScript.js"></script>
