

@{
    ViewBag.Title = "Patient Bed Allocation | IqraHMS";
}

<h2 class="empty_style">Patient Bed Allocation</h2>
@section MenuItems {
    @Html.Partial("~/Views/Menu/Admin.cshtml")

    <script type="text/javascript">
        var patientAccessList=@Html.Raw(IqraBase.Service.JParser.Parse(ViewBag.PatientAccess));
        var bedAllocationAccessList =@Html.Raw(IqraBase.Service.JParser.Parse(ViewBag.BedAllocationAccess));
    </script>
}
<div>
    <div class="empty_style button_container row">
        <a href="#" class="btn btn-white btn-default btn-round pull-right" id="btn_add_new"><span class="glyphicon glyphicon-plus"></span>New Appointment</a>
        <a href="#" class="btn btn-white btn-default btn-round pull-right margin-l-5" id="btn_registration"><span class="glyphicon glyphicon-plus"></span>New Registration</a>
    </div>

    <div class="">
        <div id="grid"></div>
    </div>
</div>
<script src="~/Content/IqraHMS/PatientArea/Js/Patient/LinkScript/BedAllocation.js"></script>