

@{
    ViewBag.Title = "InDoor Patient | IqraHMS";
}

    <h2 class="empty_style">InDoor Patient</h2>
@section MenuItems {
    @Html.Partial("~/Views/Menu/Admin.cshtml")

    <script type="text/javascript">
        var patientType = 'In Patient';
    </script>
}
<div>
    <div class="">
        <div id="grid"></div>
    </div>
</div>
<script src="~/Content/IqraHMS/PatientArea/Js/PatientType/AppScripts.js"></script>