

@{
    ViewBag.Title = "Appointment Schedules  | IqraHMS";
}

<h2 class="empty_style">Appointment Schedules</h2>
@section MenuItems {
    @Html.Partial("~/Views/Menu/Admin.cshtml")
}
<div id="page_container">
    <div class="row filter_container">

    </div>
    <div class="row summary_container" style="margin-top:10px;">

    </div>
    <div style="margin-top:10px;">
        <div class="empty_style button_container row">
        </div>
        <div id="grid_container" style="margin-top:10px;">

        </div>
    </div>
</div>
<script src="~/Content/IqraHMS/DoctorsArea/Js/AppointmentSchedule/AppScripts.js"></script>