<div class="">
    <style type="text/css">
        .tab-content div.form-control, .tab-content span.form-control {
            display: block;
        }

            .tab-content div.form-control a {
                cursor: pointer;
            }

        .nav.nav-tabs li a {
            cursor: pointer;
        }

        .nav.nav-tabs li.active a {
            cursor: default;
        }

        .margin-top-10 {
            margin-top: 10px;
        }

        #ordered_items_grid .i-header.table_header.sorting > div, #ordered_items_grid .i-grid-content td {
            font-size: 0.85em;
        }

        .i-grid-content tr td {
            padding: 3px;
        }

        .new_window .form_container .form {
            max-width: 99%;
        }
    </style>
    <div class="formHeader empty_style row headerFormMenu">
        <div class="col-xs-10 empty_style"><h4 class="widget-title" style="margin: 5px;"> Appointment Charge Details </h4></div>
        <div class="col-xs-2 empty_style" style="padding: 0px; margin: 0px;">
            <span class="pull-right button_container">
                <a class="button btn_cancel"><span style="left:-2px;" class="glyphicon glyphicon-remove"></span></a>
            </span>
        </div>
    </div>
    <div class="middleForm empty_style">
        <form role="form" method="post" class="form-horizontal smart-form middleForm" action="/">
            <div id="appointmentCharge" class="tab-pane fade in active">
                    <ul class="nav nav-tabs">
                        <li class="active" data-field="BasicInfo"><a>Appointment Charge Info</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="basic_info" class="tab-pane fade in active">
                            <div class="row">
                                <section class="col-sm-3 col col-md-3">
                                    <div>
                                        <label for="DoctorFees">Doctor Name</label>
                                    </div>
                                    <div class="input-group">
                                        <div data-binding="DoctorName" class="form-control auto_bind"></div>
                                    </div>
                                </section>
                                <section class="col-sm-3 col col-md-3">
                                    <div>
                                        <label for="DoctorFees">Accountant Name</label>
                                    </div>
                                    <div class="input-group">
                                        <div data-binding="AccountantName" class="form-control auto_bind"></div>
                                    </div>
                                </section>
                                <section class="col-sm-3 col col-md-3">
                                    <div>
                                        <label for="DoctorFees">Doctor Fees</label>
                                    </div>
                                    <div class="input-group">
                                        <div data-binding="DoctorFees" class="form-control auto_bind"></div>
                                    </div>
                                </section>
                                <section class="col-sm-3 col col-md-3">
                                    <div>
                                        <label for="PaidStatus">Paid Status</label>
                                    </div>
                                    <div class="input-group">
                                        <div data-binding="PaidStatus" class="form-control auto_bind"></div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="row">
                <div class="text-center formFooter FooterFormMenu">
                    <button class="btn btn_cancel btn-white btn-default btn-round" type="button">
                        <span class="glyphicon glyphicon-remove"></span> Cancel
                    </button>
                    <button class="btn btn_next btn-white btn-success btn-round" type="button">
                        <span class="glyphicon glyphicon-next"></span> Next
                    </button>
                </div>

            </div>
        </form>
    </div>
</div>