<div class="">

    <div class="formHeader empty_style row headerFormMenu">
        <div class="col-xs-10 empty_style"><h4 class="widget-title" style="margin: 5px;">Print Barcode Sticker</h4></div>
        <div class="col-xs-2 empty_style" style="padding: 0px; margin: 0px;">
            <span class="pull-right button_container">
                <a class="button btn_cancel"><span style="left:-2px;" class="glyphicon glyphicon-remove"></span></a>
            </span>
        </div>
    </div>
    <div class="middleForm empty_style">
        <div class="form-horizontal smart-form middleForm">

            <div id="page-wrap">
                <div style="clear:both"></div>
                <div id="patientInvestigation">
                    <div id="customer">
                        <div id="ptnt_barcode" style="text-align: center;"></div>
                        <center>
                            <div>
                                <div>Investigation Name: <span class="total-value auto_bind" data-binding="InvestigationName"></span></div>
                            </div>
                            <div>
                                <div>Patient Code: <span class="total-value auto_bind" data-binding="Code"></span></div>
                            </div>
                            <div>
                                <div>Patient Name: <span class="total-value auto_bind" data-binding="Name"></span></div>
                            </div>
                            <div>
                                <div>Age: <span class="auto_bind" data-binding="PatientAge"></span></div>
                            </div>
                        </center>
                    </div>
                </div>
            </div>
            <div style="display:block; clear:both;"></div>
            <div class="row">
                <div class="text-center formFooter FooterFormMenu">
                    <button class="btn btn_cancel btn-white btn-default btn-round" type="button">
                        <span class="glyphicon glyphicon-remove"></span> Cancel
                    </button>
                    <button class="btn btn_print btn-white btn-warning btn-round" type="button">
                        <span class="glyphicon glyphicon-print"></span> Print
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>