
<li><a href="/Pharmacy/PharmacyItem">Product</a></li>
<li><a href="/ProductOrderArea/Order">Order</a></li>
<li><a href="/Pharmacy/PharmacyItemReceive">Purchase</a></li>
<li><a href="/Pharmacy/PharmacyItemSale">Sales</a></li>
<li><a href="/ProductReturnArea/ProductReturn">ProductReturn</a></li>
<li><a href="/EmployeeArea/Employee">Employee</a></li>
<li><a href="/DailyInfoItemArea/DailyInfo">DailyInfo</a></li>
<li><a href="/CustomerArea/Customer">Customer</a></li>
<li><a href="/SuplierArea/Suplier">Suplier</a></li>
