
@{
    ViewBag.Title = "Sales List";
}
@section MenuItems {
    @Html.Partial("~/Views/Menu/Admin.cshtml")
}
@section SubMenuItems{
    <a id="btn_by_suplier" href="/ItemSalesArea/ItemSales/Suplier">By Suplier</a>
    <a id="btn_by_counter" href="/ItemSalesArea/ItemSales/Counter">By Counter</a>
}
<script type="text/javascript">
    var filter = [], newColumns = [],
       newColumnsPosition = -10,
       dataUrl = '/ItemSalesArea/ItemSales/ItemData',
       byDataUrl = '';
    $('.sales_group').addClass('active menu-open').find('.report').addClass('active');
</script>
<h2 class="empty_style" id="type_container"> Sales List </h2>
<div id="filter_container" class="row">
    <div class="col-md-2">
        <div><label>From</label></div>
        <div><input type="text" data-binding="SaleFrom" class="form-control" /></div>
    </div>
    <div class="col-md-2">
        <div><label>To</label></div>
        <div><input type="text" data-binding="SaleTo" class="form-control" /></div>
    </div>
    <div class="col-md-2">
        <div><label>Period</label></div>
        <div><input type="text" data-binding="Period" /></div>
    </div>
</div>
<div id="sale_summary_container" style="font-size: 1.5em; font-weight: bold; margin: 10px 0px;" class="row">
    <div class="col-md-4">
        <span class="auto_bind" data-binding="TotalPrice"></span>
    </div>
    <div class="col-md-4">
        <span class="auto_bind" data-binding="TotalDiscount"></span>
    </div>
</div>
<div>
    <div id="selector_container">

    </div>
    <div class="empty_style button_container row">

    </div>
    <div id="grid_container" class="">
        <div id="grid"></div>
    </div>
</div>
<script src="~/Content/IqraPharmacy/ItemSalesArea/Content/ColumnSelector.js"></script>