
@{
    ViewBag.Title = "FixedAsset | " + LazzPharma.Web.Service.AppService.Name;
}
@section MenuItems {
    @Html.Partial("~/Views/Menu/Admin.cshtml")
}
<h2 class="empty_style">FixedAsset</h2>


<div id="filter_container" class="row">

</div>
<div style="margin-top:10px;">
    <div id="button_container" class="empty_style button_container row">
        <a href="#" class="btn btn-white btn-default btn-round pull-right" id="btn_add_new"><span class="glyphicon glyphicon-plus"></span>New</a>
    </div>
    <div id="grid_container">

    </div>
</div>
<script src="~/Content/IqraPharmacy/AccountantArea/Content/FixedAsset/AppScript.js"></script>
