<div class="formBody">
    <div class="row formHeader headerFormMenu">
        <div style="float: left" class="widget-title">
            <h4 style="margin:5px;">Candidate Report</h4>
        </div><span class="pull-right button_container">
            <a class="button btn_cancel"><span class="glyphicon glyphicon-remove"></span></a>
        </span>
    </div>
    <div class="middleForm" action="/">
        <div class="">
            <div class="row">
                <section class="col-sm-4 col col-md-4">
                    <div>
                        <label for="Name">Name</label>
                    </div>
                    <div class="input-group">
                        <input data-type="string" type="text" required="" data-binding="Name" name="Name" class="form-control">
                    </div>
                </section>
                <section class="col-sm-4 col col-md-4">
                    <div>
                        <label for="Gender">Gender</label>
                    </div>
                    <div class="input-group">
                        <input data-type="string" type="text" data-binding="Gender" name="Gender" class="form-control">
                    </div>
                </section>
                <section class="col-sm-4 col col-md-4">
                    <div>
                        <label for="BloodGroup">Blood Group</label>
                    </div>
                    <div class="input-group">
                        <input data-type="string" type="text" data-binding="BloodGroup" name="BloodGroup" class="form-control">
                    </div>
                </section>
            </div>
            <div class="row">
                <section class="col-sm-4 col col-md-4">
                    <div><label for="DateOfBirth">Date Of Birth</label></div>
                    <div class="input-group">
                        <input data-type="string" data-binding="DateOfBirth" name="DateOfBirth" class="form-control" type="text">
                    </div>
                </section>
                <section class="col-sm-2 col col-md-2">
                    <div><label for="Year">Year</label></div>
                    <div class="input-group">
                        <input data-type="int|null" data-binding="Year" name="Year" class="form-control" type="text">
                    </div>
                </section>
                <section class="col-sm-2 col col-md-2">
                    <div><label for="Month">Month</label></div>
                    <div class="input-group">
                        <input data-type="int|null" data-binding="Month" name="Month" class="form-control" type="text">
                    </div>
                </section>
                <section class="col-sm-2 col col-md-2">
                    <div><label for="Day">Day</label></div>
                    <div class="input-group">
                        <input data-type="int|null" data-binding="Day" name="Day" class="form-control" type="text">
                    </div>
                </section>
            </div>
            <div class="row">
                <section class="col-sm-4 col col-md-4">
                    <div>
                        <label for="Mobile">Mobile</label>
                    </div>
                    <div class="input-group">
                        <input data-type="string" type="text" required="" data-binding="Mobile" name="Mobile" class="form-control">
                    </div>
                </section>
                <section class="col-sm-4 col col-md-4">
                    <div>
                        <label for="AlternativeMobile">Alternative Mobile</label>
                    </div>
                    <div class="input-group">
                        <input data-type="string" type="text" data-binding="AlternativeMobile" name="AlternativeMobile" class="form-control">
                    </div>
                </section>
                <section class="col-sm-4 col col-md-4">
                    <div>
                        <label for="Email">Email</label>
                    </div>
                    <div class="input-group">
                        <input data-type="string" type="email" data-binding="Email" name="email" class="form-control">
                    </div>
                </section>
            </div>
            <div class="row">
                <section class="col-sm-4 col col-md-4">
                    <div>
                        <label for="Weight">Weight</label>
                    </div>
                    <div class="input-group">
                        <input data-type="string" type="text" required="" data-binding="Weight" class="form-control">
                    </div>
                </section>
                <section class="col-sm-4 col col-md-4">
                    <div>
                        <label for="Height">Height</label>
                    </div>
                    <div class="input-group">
                        <input data-type="string" type="text" data-binding="Height" class="form-control">
                    </div>
                </section>
                <section class="col-sm-4 col col-md-4">
                    <div>
                        <label for="ProfessionId">Profession</label>
                    </div>
                    <div class="input-group">
                        <input data-type="string" type="text" data-binding="ProfessionId" class="form-control">
                    </div>
                </section>
            </div>
            <div class="row">
                <section class="col-sm-4 col col-md-4">
                    <div>
                        <label for="Marital">Marital Status</label>
                    </div>
                    <div class="input-group">
                        <input data-type="string" type="text" data-binding="MaritalStatus" class="form-control">
                    </div>
                </section>
                <section class="col-sm-4 col col-md-4">
                    <div>
                        <label for="Nationality">Nationality</label>
                    </div>
                    <div class="input-group">
                        <input data-type="string" type="text" data-binding="Nationality" name="Nationality" class="form-control">
                    </div>
                </section>
                <section class="col-sm-4 col col-md-4">
                    <div>
                        <label for="PlaceOfIssue">Place Of Issue</label>
                    </div>
                    <div class="input-group">
                        <input data-type="string" type="text" data-binding="PlaceOfIssue" name="PlaceOfIssue" class="form-control">
                    </div>
                </section>
            </div>
            <div class="row">
                <section class="col-sm-4 col col-md-4">
                    <div>
                        <label for="TravelingTo">Traveling To</label>
                    </div>
                    <div class="input-group">
                        <input data-type="string" type="text" data-binding="TravelingTo" class="form-control">
                    </div>
                </section>
                <section class="col-sm-4 col col-md-4">
                    <div>
                        <label for="VisaNo">Visa No</label>
                    </div>
                    <div class="input-group">
                        <input data-type="string" type="text" data-binding="VisaNo" class="form-control">
                    </div>
                </section>
                <section class="col-sm-4 col col-md-4">
                    <div>
                        <label for="VisaDate">Visa Date</label>
                    </div>
                    <div class="input-group">
                        <input data-type="string" type="text" data-binding="VisaDate" class="form-control">
                    </div>
                </section>
            </div>
            <div class="row">
                <section class="col-sm-4 col col-md-4">
                    <div>
                        <label for="Allergy">Allergy</label>
                    </div>
                    <div class="input-group">
                        <input data-type="string" type="text" data-binding="Allergy" class="form-control">
                    </div>
                </section>
                <section class="col-sm-4 col col-md-4">
                    <div>
                        <label for="Disorders">Psychiatrc and Newrological Disorders</label>
                    </div>
                    <div class="input-group">
                        <input data-type="string" type="text" data-binding="Disorders" class="form-control">
                    </div>
                </section>
                <section class="col-sm-4 col col-md-4">
                    <div>
                        <label for="OtherFindings">OtherFindings</label>
                    </div>
                    <div class="input-group">
                        <input data-type="string" type="text" data-binding="OtherFindings" class="form-control">
                    </div>
                </section>
            </div>
            <div class="row">
                <section class="col-sm-4 col col-md-4">
                    <div>
                        <label for="PassportNo">PassportNo</label>
                    </div>
                    <div class="input-group">
                        <input data-type="string" type="text" required="" data-binding="PassportNo" class="form-control">
                    </div>
                </section>
                <section class="col-sm-4 col col-md-4">
                    <div>
                        <label for="Picture">Picture</label>
                    </div>
                    <div class="input-group">
                        <input data-type="string" type="button" data-binding="btnPicture" value="" class="form-control">
                    </div>
                </section>
                <section class="col-sm-4 col col-md-4">
                    <div id="img_preview_container"></div>
                </section>
            </div>
            <div class="row">
                <section class="col-sm-6 col col-md-6">
                    <div>
                        <label for="CAddress">Current Address</label>
                    </div>
                    <div class="input-group">
                        <textarea data-type="string" type="text" data-binding="CAddress" class="form-control auto_bind"></textarea>
                    </div>
                </section>
                <section class="col-sm-6 col col-md-6">
                    <div>
                        <label for="PAddress">Permanent Address</label>
                    </div>
                    <div class="input-group">
                        <textarea data-type="string" type="text" data-binding="PAddress" class="form-control auto_bind"></textarea>
                    </div>
                </section>
            </div>
            <div>
                <label style="font-size:1.5em;"> Bibbing Info</label>
                <div class="row">
                    <section class="col-sm-4 col col-md-4">
                        <div>
                            <label for="TotalAmount">Total Amount</label>
                        </div>
                        <div class="input-group">
                            <input data-type="float" disabled type="text" data-binding="TotalAmount" class="form-control">
                        </div>
                    </section>
                    <section class="col-sm-4 col col-md-4">
                        <div>
                            <label for="DiscountTk">Discount Tk</label>
                        </div>
                        <div class="input-group">
                            <input data-type="float|null" type="text" data-binding="DiscountTk" class="form-control">
                        </div>
                    </section>
                    <section class="col-sm-4 col col-md-4">
                        <div>
                            <label for="NetAmount">NetAmount</label>
                        </div>
                        <div class="input-group">
                            <input data-type="float" type="text" data-binding="NetAmount" class="form-control">
                        </div>
                    </section>
                </div>
                <div class="row">
                    <section class="col-sm-4 col col-md-4">
                        <div>
                            <label for="PaidAmount">Paid Amount</label>
                        </div>
                        <div class="input-group">
                            <input data-type="float" type="text" data-binding="PaidAmount" class="form-control">
                        </div>
                    </section>
                    <section class="col-sm-4 col col-md-4">
                        <div>
                            <label for="DueAmount">DueAmount</label>
                        </div>
                        <div class="input-group">
                            <input data-type="float|null" type="text" data-binding="DueAmount" class="form-control">
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="text-center formFooter FooterFormMenu">
                <button class="btn btn_save btn-white btn-default btn-round" type="button"><span class="glyphicon glyphicon-save"></span> Save </button>
                <button class="btn btn_cancel btn-white btn-default btn-round" type="button"> <span class="glyphicon glyphicon-remove"></span> Cancel </button>
            </div>
        </div>
    </div>
</div>

