<div id="page_container">
    <div class="" style="padding:15px;">
        <div id="summary_container" class="row" style="margin:10px -15px">
        </div>
        <div id="grid">

        </div>
    </div>
</div>